<div class="row no-gutters text-white">
  <div class="col-sm-6 col-md-1"></div>
  <div class="col-sm-6 col-md-2">
    <br>
    <p>Start a project</p>
    <br>
    <a>We are ready for the challenge</a>
    <br>
  </div>
  <div class="col-sm-6 col-md-2">
    <br>
    <p>Say Hello</p>
    <br>
    <a>130 Dundas St.</a>
    <br>
  </div>
  <div class="col-sm-6 col-md-2">
    <br>
    <p>Jobs</p>
    <br>
    <a>We are always looking for talent</a>
    <a>smith@john.com</a>
    <br><br>
  </div>
  <div class="col-sm-6 col-md-1">

  </div>
  <div class="col-sm-6 col-md-1">
    <br><br><br>
    <a href="https://www.instagram.com/"><img src="../../assets/instagram.png"></a>
  </div>
  <div class="col-sm-6 col-md-1">
    <br><br><br>
    <a href="https://www.facebook.com/"><img src="../../assets/facebook.png"></a>
  </div>
  <div class="col-sm-6 col-md-1">
    <br><br><br>
    <a href="https://www.twitter.com/"><img src="../../assets/twitter.png"></a>
  </div>
</div>
<a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect"></a><a href="https://www.flaticon.com/" title="Flaticon"></a>
<a href="https://www.flaticon.com/authors/freepik" title="Freepik"></a><a href="https://www.flaticon.com/" title="Flaticon"></a>
