<nav-bar></nav-bar>
<settlementnav></settlementnav>
<app-banner type="insurance"></app-banner>
<div class="card-deck insuranceCard">
    <div class="card house">
      <img src="../../assets/house_insurance.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span>HOUSE</span> INSURANCE</h5>
        <p class="card-text">
            Get the right coverage for your home without the complicated jargon. 
            If something happens to your home or garage, we’ll pay to repair or replace it – simple as that. 
            And because your home isn’t just four walls, we also cover things like your shed, pool and playground equipment..
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href='#'>Check Vendors</a></small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/car_insurance.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span>CAR</span> INSURANCE</h5>
        <p class="card-text">
            It’s more than a car, it’s your freedom
            Get the right coverage for your car without the complicated jargon. 
            If something happens to your car, we’ll pay to repair or replace it – simple as that.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href='#'>Check Vendors</a></small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/Health_insurance.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span>HEALTH</span> INSURANCE</h5>
        <p class="card-text">
            Personal health insurance products help lower your risk of being burdened by expenses for preventive care 
            or medical bills as a result of an illness or accident. While provincial health plans provide coverage for many health expenses, 
            there are gaps that can have a significant impact on your finances.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href='#'>Check Vendors</a></small>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/travel_insurance.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><span>TRAVEL</span> INSURANCE</h5>
          <p class="card-text">
            Travel insurance has different types of coverage options, including Snowbird Insurance, 
            Travel Medical Insurance, Vacation or Trip Cancellation Insurance, Annual Multi-Trip Insurance,
            Visitors to Canada Insurance, Baggage Insurance and Evacuation Insurance. The most important travel insurance, 
            however, is insurance coverage for emergency or sudden medical conditions that can occur while traveling. 
            This type of coverage is often, and interchangeably, referred to as Travel Medical Insurance or Travel Health Insurance.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href='#'>Check Vendors</a></small>
        </div>
      </div>
  </div>
<app-footer-action  type="insurance"></app-footer-action>
<app-footer></app-footer>