.settledescrip{
    background-image: url('../../assets/settleHoe.png');
    width: 100%;
    height: 500px;
    color: white;
    overflow-y: hidden;
}

.descrip{
    width:70%;
    padding-top: 5%;
}

h2{
    margin-bottom: 11%;
}

div{
    width :100%;
}

.stepsdiv h2{
    margin-top: 5%;
    margin-left: 12%;
}

.bgstep{
    background-image: url('../../assets/road1.png');
    margin-top:-13%;
    margin-left: 3%;
    height: 910px;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

.logodiv{
    background-color: #F33C3C;
    height: 500px;
    padding: 3%;
}

.storelogo{
    border-radius: 50%;
    background-color: white;
    height: 400px;
    width: 400px;
    margin-left: 10%;
}

.storelogo img{
    width: 400px;
    margin-top: 28%;
}

.branddes{
    margin-top: 3%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.branddes button{
    border: none;
    background: #303E3E;
    padding: 20px;
    width: 50%;
    color: white;
    margin-top: 7%;
    cursor: pointer;
}
