<nav-bar></nav-bar>
<settlementnav></settlementnav>
<div class="settledescrip">
    <div class="descrip">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <h2>Don't know where to start?</h2>
                <p>
                    We already prepared for your settlement <br>
                    with best service provider in London, Ontario.<br>
                    <br>
                    We are providing 4 compulsory settlement services <br>
                    that you need to be ready when you first step into Canada.<br>
                    <br>
                    Meet our services,<br>
                    When you are here, you are all ready.<br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="stepsdiv">
    <div class="row">
        <h2>Steps to successfully settle in Canada</h2>
        <div class="bgstep"></div>
    </div>
</div>
<div class="logodiv">
    <div class="row">
        <div class="col storelogo">
            <img src="../../assets/setincanada.png" alt="setincanada logo">
        </div>
        <div class="col"></div>
        <div class="col-5 branddes">
            <p>
                Set in Canada offers only verified service provider who promised the honest price and great services.<br>
                Registered member can check the average market price of services,<br>
                and actual price of each services and request the quotes.
            </p>
            <button routerLink="/register">Register</button>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
<app-footer></app-footer>

