<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet"><nav-bar></nav-bar>

    <div class="parallax">
        <div class="intro">
            <h1>We always cheer your new Adventure</h1>
        </div>
    </div>

    <div class="row descripbox">
        <div class ="col descripdiv">
            <h2> Our Mission</h2>
            <p>We were new comers <span>just like you are.</span><br />
               We were in need to settle down in a new place, 
               probably completely different from our own country. <br />
               After we settle down going through many different situations and hardship,<br /> 
               we came to decide that we should help new comers find a better way to start their own life here in <span>London</span>.
            </p>
        </div>
    </div>

    <div class="parallax1"></div>

    <div class="row servicediv">
        <div class="col-2 serviceheader">
            Our service
        </div>
        <div class="col">
        <div class="card-deck">
            <div class="card cardb">
              <img class="card-img-top" src="../../assets/Pic_about/car.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Dealers</h5>
                <br/>
                <p class="card-text">For your comfortable transportation.</p>
                <p class="card-text"><small class="text-muted"><a href="#">check more</a></small></p>
              </div>
            </div>
            <div class="card cardb">
              <img class="card-img-top" src="../../assets/Pic_about/house (1).png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Realtors</h5>
                <br/>
                <p class="card-text">For your cozy accomodation</p>
                <p class="card-text"><small class="text-muted"><a href="#">check more</a></small></p>
              </div>
            </div>
            <div class="card cardb">
              <img class="card-img-top" src="../../assets/Pic_about/school.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Education</h5>
                <br/>
                <p class="card-text">For your precious children</p>
                <p class="card-text"><small class="text-muted"><a href="#">check more</a></small></p>
              </div>
            </div>
            <div class="card cardb">
                <img class="card-img-top" src="../../assets/Pic_about/bank.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Banking</h5>
                  <br/>
                  <p class="card-text">Find the right bank account, credit card and more</p>
                  <p class="card-text"><small class="text-muted"><a href="#">check more</a></small></p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-2 moreInfo">
            <div class="row newcomer">
                <p>Are you new comer?</p>
                <p>Here are more you need.</p>
                <a href="#">Check more Information</a>
            </div>
            <div class="row vender">
                <p>Register here</p>
                <p>to connect your store with us</p>
                <a id="vendorApp" routerLink="/vendor-registration" routerLinkActive="app-vendor-registration">Join as Vendor</a>
                <!-- <a href="#"">Join as Vendor</a> -->
                <!-- <h3 id="startLink"><a routerLink="/about">Get Started >></a></h3> -->
            </div>
        </div>   
    </div>

    <div class="parallax2">
        <div class="row">
            <div class="col city">
                <h3>Why London? </h3>
                <br />
                <p>
                    Known as the <span> "Forest City," London, Ont.</span>, is a typical Canadian community in many ways.
                    Located approximately two hours southwest of Toronto, the city is home to a major university
                    and has a thriving medical research community.
                    It attracts investors and business people as it is becoming the hub
                    which connects big cities in Canada to America
                </p>
            </div>
            <div class="col">

            </div>
        </div>  
    </div>


    <!-- <div class="parallax"></div> -->


    
    <!-- <div class="containerA">
        <img src="../../assets/Pic_about/dirCanada.png"alt="DirectCanada">
        <div class="centered"><h1>We always cheer your new Adventure</h1></div>
    </div> -->

    <!-- <div class="box">
        <div id="first"><h2> Our Mission</h2>
        <p>We were new comers just like you are. We were in need to settle down in a new place probably
            completely different from our own country. After we settle down going through many
            different situations and hardship, we came to decide that we should help new comers
            find a better way to start their own life here in London.
        </p></div>

        <div id="second"><h2>Settlement Service</h2>
         <li>Realtors for your housing</li>
         <li>Dealers for your cars</li>
         <li>Education consultant for your children</li>
         <li>Bankers for your investment</li>
        </div>

        <div id="third">
            <img src="../../assets/Pic_about/torontoGray.png"alt="torontoView">
            <div id="centered"><h3>Why London? </h3>
                <p>Known as the "Forest City," London, Ont., is a typical Canadian community in many ways.
                    Located approximately two hours southwest of Toronto, the city is home to a major university
                    and has a thriving medical research community.
                    It attracts investors and business people as it is becoming the hub
                    which connects big cities in Canada to America</p>
            </div>
        </div>

        <div class="fourth">
            Please register as a vendor and find your customers.<br />
            realtors, car-dealers, education consultants, bankers, etc.
        </div>
    </div> -->
<app-footer></app-footer>
