<div class="container">
<div id="maindiv">
  <div class="masthead" id="hideMe">
    <div class="gallery">
      <figure class="gallery__item gallery__item--1 ">
        <img src="../../assets/color_3.jpg" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--1 blink blink-timing1">
        <img src="../../assets/Image_3.png" class="gallery__img" alt="Image 1">
      </figure>

      <figure class="gallery__item gallery__item--2">
        <img src="../../assets/color_4.jpg" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--2 blink blink-timing2">
        <img src="../../assets/Image_4.png" class="gallery__img" alt="Image 1">
      </figure>

      <figure class="gallery__item gallery__item--3">
        <img src="../../assets/color_5.jpg" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--3 blink blink-timing3">
        <img src="../../assets/Image_5.png" class="gallery__img" alt="Image 2">
      </figure>

      <figure class="gallery__item gallery__item--4">
        <img src="../../assets/color_6.jpg" class="gallery__img" alt="Image 3">
      </figure>
      <figure class="gallery__item gallery__item--4 blink blink-timing4">
        <img src="../../assets/Image_6.png" class="gallery__img" alt="Image 3">
      </figure>

      <figure class="gallery__item gallery__item--5">
        <img src="../../assets/color_7.jpg" class="gallery__img" alt="Image 4">
      </figure>
      <figure class="gallery__item gallery__item--5 blink blink-timing5">
        <img src="../../assets/Image_7.png" class="gallery__img" alt="Image 4">
      </figure>

      <figure class="gallery__item gallery__item--6">
        <img src="../../assets/color_1.jpg" class="gallery__img" alt="Image 5">
      </figure>
      <figure class="gallery__item gallery__item--6 blink blink-timing6">
        <img src="../../assets/Image_1.jpg" class="gallery__img" alt="Image 5">
      </figure>

    </div>
  </div>

    <div class= "mapdiv">
      <h1 id="welcomeHeader">Welcome to <span id="emphasizeCanada">Canada</span></h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>

      <h3 id="startLink"><a routerLink="/about">Get Started >></a></h3>
      <h6 id="loginLink"><a routerLink="/login">I am already a member</a></h6>
    </div>
    <div class="row h-90">
        <div>
          <!-- <img class="map ml-0" src="../../assets/maptrans.png" alt="map"> -->
          <div id="pin-1" class="box">
            <div class="pin-text">
              <img src="../../assets/mappin.png" alt="mappin" />
            </div>
          </div>
        </div>
    </div>
    <div>
      <img src="../../assets/setincanada.png" alt="logo Set In Canada" id="logo"/>
    </div>

</div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
