<nav-bar></nav-bar>
<settlementnav></settlementnav>
<app-banner type="automobile"></app-banner>
<!--//////////-->

<div class="row">
  <div class="col deciding">
    <hr/>
    <p>
      <a id="firstL">O</a>ne of the most important
      choices you'll make when
      you're talking about purchasing
      a vehicle is whether you
      should choose one that's brand
      new or old. In making this
      decision, there are several
      different factors to consider—
      price differences, funding, efficiency,
      insurance costs, reliability.
    </p>
    <hr/>
  </div>
</div>
<div class="row compareBanner">
  <div class="col">
    <img src="../../assets/compare.jpg" class="compare">
  </div>
</div>
<!--//////////-->

<div class="row usedVsNew">
  <div class="col">
    <div class="col-12 used">
      <div class="row usedText">
        <div class="col usedPros">
          <h4>Pros:</h4>

          <a>Lower prices</a>
          <p>
            Used-car buyers can
            take advantage of rapid
            depreciation in the
            value of new cars to
            the tune of 20 percent
            in the first year and about
            40 percent after three years.
          </p>
          <a>Smaller loan amount</a>
          <p>
            With lower prices, it’s no surprise
            that used cars have smaller average
            loan amounts than new ones.
            Depending on the terms of the
            loan, that could translate
            into lower monthly payments
            and a smaller total interest charge.
          </p>
          <a>Quicker payoff</a>
          <p>
            Used-car loans are usually
            shorter than those for new
            cars, enabling borrowers
            to pay off their vehicles
            sooner.
          </p>

        </div>
        <div class="col usedCons">
          <h4>Cons:</h4>

          <a>Reliability</a>
          <p>
            Despite improvements in
            quality, it stands to
            reason that preowned
            cars generally will be
            less reliable than brand
            new models.
          </p>
          <a>Choice may be more limited</a>
          <p>
            New-car buyers can typically
            select the features, color
            and any accessories they
            want for a particular model.
            Used-car buyers may need to
            be more flexible, or shop
            around, when it comes to these
            preferences.
          </p>
          <a>Rates may be higher</a>
          <p>
            Interest rates tend to
            be higher for used cars.
            Partly, this is because of
            manufacturer incentives on
            new vehicles, but also because
            of the greater risk involved
            in used-car financing.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-12 new">
      <div class="row">
        <div class="col newPros">
          <h4>Pros:</h4>

          <a>Warranties</a>
          <p>
            Most vehicles come with
            a manufacturer’s warranty
            that, on average, covers
            three years or 60,000 miles.
            It’s also common for vehicles
            to come with a 10-year, 100,000
            mile powertrain warranty.
          </p>

          <a>Latest Technology</a>
          <p>
            A used 1990 Camaro may be your dream car,
            but won’t have the navigation system,
            Internet access, satellite radio,
            or built-in MP3 player the
            2013 model has.
          </p>
        </div>
        <div class="col newCons">
          <h4>Cons:</h4>

          <a>Depreciation</a>
          <p>
            By the time you’ve paid
            off the five-year loan,
            the car will be worth,
            on average, about 40 percent
            of its original value if you’ve
            taken good care of it.
          </p>

          <a>Insurance</a>
          <p>
            All dealerships and finance
            institutions will require you
            to carry full coverage on your
            vehicle until it’s paid in full.
            Insurance premiums are based on
            several factors, including the
            age of the vehicle (and driver).
          </p>

          <a>Return on Investment</a>
          <p>
            Whether you buy a new car
            in Beverly Hills or on Skid
            Row, you will not turn any
            sort of profit on the investment.
            Even with a relatively-modest 6
            percent interest.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!--//////////-->

<app-footer-action  type="automobile"></app-footer-action>
<app-footer></app-footer>
