<nav-bar></nav-bar>
<settlementnav></settlementnav>
<app-banner type='accomodation'></app-banner>

<div class="row">
  <div class="col sided">
    <div class="row">

      <div class="col-6 sidePhoto">
        <img src="../../assets/condo.jpg" class="tallPhoto">
      </div>
      <div class="col-6 sideText">
        <h2 class="bigText">Condo</h2>
          <div class="row right">
            <div class="col-12 text">
              <a>Ownership</a>

              <p>Leasing company that leases out its units</p>
            </div>
            <div class="col-12 text">
              <a>Property Management</a>

              <p>Rent from a professional organization that has probably been in the business for decades</p>
            </div>
            <div class="col-12 text">
              <a>Cost</a>

              <p>$100-$300 cheaper than similar specs of condos</p>
            </div>
            <div class="col-12 text">
              <a>Facilities</a>

              <p>At best you’d get a parking space, gym and very rarely a pool. Apartment amenities on the whole</p>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="col onTop">
    <div class="row">
      <div class="col-12 topPhoto">
        <img src="../../assets/townhouse.jpg" class="widePhoto">
        <br><br>
        <h2 class="bigText">Townhouse</h2>
      </div>
    </div>

    <div class="textBox">

      <div class="row">
        <div class="col-6">
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Cost</a>

              <p>Less expensive and more accessible.</p>
            </div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Type and Ownership</a>

              <p>Conjoined, detached or semi-detached units owned by individual homeowners.</p>
            </div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Moder Features</a>

              <p>Offer updated features like hardwood floors, granite countertops, and open concept.</p>
            </div>
          </div>
          <!--/////////////////-->
        </div>
        <!--/////////////////-->
        <div class="col-6">
          <div class="row insideTexts">
            <div class="col">
              <a>Low-maintenance</a>

              <p>Offer the spaciousness of a single family home  along with the convenience of a condominium when it comes to upkeep.</p>
            </div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col"></div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Privacy and security</a>

              <p>Townhouses have private outdoor areas. Close proximity to the neighbouring buildings offer more security.</p>
            </div>
          </div>
          <!--/////////////////-->
        </div>
      </div>

    </div>

  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="row">

  <div class="col onTop">
    <div class="row">
      <div class="col-12 topPhoto">
        <img src="../../assets/familyhouse.jpg" class="familyhPhoto">
        <br><br>
        <h2 class="bigText">Family House</h2>
      </div>
    </div>

    <div class="textBox2">

      <div class="row">
        <div class="col-6">
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Higher appreciation</a>

              <p>Single family homes generally experience higher price appreciation, because the homeowner owns the land.</p>
            </div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>High Cost & Effort</a>

              <p>Responsible for all of the maintenance and repairs</p>
            </div>
          </div>

        </div>
        <!--/////////////////-->
        <div class="col-6">
          <div class="row insideTexts">
            <div class="col">
              <a>Square footage</a>

              <p>Detached homes are usually larger and also offer larger yards, which can be used to gardening or outdoor entertaining.</p>
            </div>
          </div>
          <!--/////////////////-->
          <div class="row insideTexts">
            <div class="col">
              <a>Privacy</a>

              <p>A house doesn’t share walls or common spaces as some condos and townhomes do, meaning you have more privacy.</p>
            </div>
          </div>
          <!--/////////////////-->
        </div>
      </div>

    </div>

  </div>
  <div class="col sided">
    <div class="row">

      <div class="col-6 sidePhoto">
        <img src="../../assets/apartment.jpg" class="tallPhoto">
      </div>
      <div class="col-6 sideText">
        <h2 class="bigText">Apartment</h2>
          <div class="row right">
            <div class="col-12 text">
              <a>Ownership</a>

              <p>Leasing company that leases out its units.</p>
            </div>
            <div class="col-12 text">
              <a>Property Management</a>

              <p>Rent from a professional organization that has probably been in the business for decades.</p>
            </div>
            <div class="col-12 text">
              <a>Cost</a>

              <p>$100-$300 cheaper than similar specs of condos</p>
            </div>
            <div class="col-12 text">
              <a>Facilities</a>

              <p>At best you’d get a parking space, gym and very rarely a pool. Apartment amenities on the whole</p>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
<app-footer-action type="accomodation"></app-footer-action>
<app-footer></app-footer>

